h2 {
    font-family: Arial;
}

.gameOptionsForm span {
    font-family: Arial;
    padding: 5px;
}

.gameOptionsForm div {
    float: left;
    margin-right: 20px;
}

.gameOptionsForm img {
    display: block;
}

.gameOptionsForm {
    display: inline-block;
}

.gameOptionsForm {
    background-color: lightblue;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
}

.playerNameForm {
    font-family: Arial;
    background-color: lightblue;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    display: inline-block;
}

.playerNameForm .playerName1 {
    padding: 5px;
}

.playerNameForm .playerName1 span {
    padding: 5px;
}

.playerNameForm .playerName1 {
    padding: 5px;
}

.playerNameForm .playerName2 span {
    padding: 5px;
}

.playerNameForm .playerName2 {
    padding: 5px;
}

.playerNameForm .playerName3 span {
    padding: 5px;
}

.playerNameForm .playerName3 {
    padding: 5px;
}

.playerNameForm .playerName3 span {
    padding: 5px;
}

.playerNameForm .playerName4 {
    padding: 5px;
}

.waiting .waitingOn1 {
    padding: 5px;
}

.waiting .waitingOn2 {
    padding: 5px;
}

.waiting .waitingOn2 {
    padding: 5px;
}
.waiting .waitingOn4 {
    padding: 5px;
}

.playerNameForm .playerName4 span {
    padding: 5px;
}

.scoreBoardForm {
    font-family: Arial;
    background-color: lightblue;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    display: inline-block;
}

.scoreBoardForm div {
    padding: 5px;
    margin-right: 20px;
}

.gameBoard {
    position: relative;
    border: 1px solid black;
    border-radius: 10px;
}
