.playerForm {
    display: none;
}

.player1 {
    display: none;
}

.player2 {
    display: none;
}

.player3 {
    display: none;
}

.player4 {
    display: none;
}

.playerName1 {
    display: none;
}

.playerName2 {
    display: none;
}

.playerName3 {
    display: none;
}

.playerName4 {
    display: none;
}

.playerNameSubmit {
    display: none;
}

.gameOver {
    display: none;
}

.winner {
    font-weight: bold;
    color: #00ff00;
}
